body, html {
  font-family: "Indie Flower", sans-serif;
  background-color: #704a3c;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");

  height: 100%;
}

#searchBar {
  padding: 10px; 
}

.title-submit {
  margin: 10px;

  padding: 10px;
}

.note {
  position: absolute;
}

.react-draggable {
  background-color: white; 
}

.note-body {
  box-sizing: border-box;
  min-width: 200px;
  min-height: 200px;

}

.note-title {
  max-height: 20px;
  min-height: 20px;
  max-width: 50px;
  min-width: 50px;
}


.right-header {
  display: flex;
  padding: 5px; 
  background-color: #90addb;
}

.icons {
  display: flex;
}

.flex-item {
  padding: 0px 5px;
}

.default-note-body {
  background-color: transparent;
  display: flex;
  height: 100%;
  margin: 1rem;
}

.noteBody {
  padding: 8px; 
  min-height: 180px;
  min-width: 200px;
  box-shadow: 0px 10px 5px rgba(70, 37, 37, 1);
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/handmade-paper.png");
}

